# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Model files (important)
*.pkl
*.joblib

# Dataset (optional - better not to push large files)
*.csv

# OS files
.DS_Store

# VS Code
.vscode/

# Environment variables
.env